/********************************************************************************/
/* DESKTOP */
/********************************************************************************/
@media only screen and (min-width: 1220px) {

html{
	font-size: 1.2rem;
}

#logo {
	font-size: 1.5rem;
	padding: 0 0 1rem 0;
	font-family: atkinson-bold;

}

#retrato{
	float: right;
	margin: 0 0 2rem 2rem;
	width: 15rem;
}

/* NAV ***************************************************/
#menu_icon{
	display: none;
}

#gran_contenedor{
	display: flex;
	justify-content: space-between;
}

nav#menu{
	margin: 0;
	border: unset;
	border-radius: unset;
	border-right: 1px solid var(--color_principal);
	top: 5rem;
	padding-top: 0;
	left: 0;
	width: 320px;
	position: fixed;
	overflow-x: hidden;
	overflow-y: visible;
	scrollbar-color: var(--color_principal) black;
	scrollbar-width: thin;
	height: calc(80% - 5rem);
	display: block;
}



/* MAIN ************************************************/
main {	/* M */
	max-width: 900px;
	margin: 5rem auto 0 auto;
	padding-left: 400px;
}

main > header > h1{	/* El título portada de main */
	font-size: 3rem;
	border: unset;
	line-height: 3rem;
}

main h1{
	line-height: 3rem;
}

main img{
	max-width: 900px;
}

code {
	font-size: 1rem;
}

/* SECTION *************************************************/

.valign_2rem{
	height: 2rem;
}

section ol.problemas li{
	margin-bottom: unset;
}




}	 /* END MEDIA */
