/*.color-primary-0 { color: #006aff }	Color principal */
/*.color-primary-0b{ color: #003B8C }	Color azul oscuro */
/*.color-primary-1 { color: #FF9200 }	    Color Opuesto */
:root{
	--color_principal: #006aff;
	--color_oscuro: #003b8c;
	--color_opuesto: #ff9200;
	--color_gris_medio: #777777;
	--color_gris_claro: #cccccc;
}

@charset "utf-8";

@font-face {
    font-family:"atkinson";
	src: url(../fonts/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2");
	font-weight: normal;
	font-display: swap;
}

@font-face {
    font-family:"atkinson-bold";
	src: url(../fonts/Atkinson-Hyperlegible-Bold-102a.woff2) format("woff2");
	font-weight: bold;
	font-display: swap;
}


html{
	font-family: "atkinson", sans-serif;
	font-size: 1rem;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}

body{
	line-height: 1.2rem;
	counter-reset: section;
	margin-bottom: 4rem;
}

body header {
	height: 3rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	border-bottom: 1px solid var(--color_gris_claro);
}

#logo {
	font-size: 1.2rem;
	font-family: atkinson-bold;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	color: black;
}

/* Ingeniero informático y matemático */
body header h2{
	margin: 0;
	color: var(--color_gris_medio);
	font-size: 0.8rem;
	font-family: atkinson;
}

body header a{
	text-decoration: none;
}

#retrato{
	float: right;
	margin: 0 0 1rem 1rem;
	width: 45vw;
	aspect-ratio: 1;
}

.left{
	text-align: left;
}

i{
	font-style: italic;
}

/* NAV ***************************************************/
#menu_icon{
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 2.5rem;
}

#menu_icon a{
	color: var(--color_gris_medio);
}

#menu_icon a:hover{
	text-decoration: none;
}

#menu_content {
	display: none;
	margin: 2rem 0 0 0;
	position: absolute;
	background-color: white;
	padding: 1rem;
	top: 0.5rem;
	right: 0;
	font-size: 1rem;
	border: 1px solid var(--color_oscuro);
	border-radius: 1rem 0 0 1rem;
	min-width: 10rem;
	max-width: 75%;
}

#menu_content a{
	color: black;
	text-decoration: none;
}

#menu_content h1{
	font-family: atkinson-bold;
	margin: 2rem 0 0.5rem 0;
	color: var(--color_principal);
}
#menu_content h1:first-child{
	margin-top: unset;
}

#menu_content li{
	margin-bottom: 0.5rem;
}
#menu_content li:last-child{
	margin-bottom: unset;
}

/* MAIN ************************************************/
#gran_contenedor{
	display: flex;
	justify-content: space-between;
}


main {	/* M */
	padding: 0 0.5rem;
	margin-top: 4rem;
	line-height: 1.5rem;
}

main h1{
	font-family: atkinson-bold;
	margin: 1rem 0;
	font-size: 1.5rem;
	color: var(--color_principal);
	border-bottom: 1px solid blue;
}

main h2{
	font-family: atkinson-bold;
	font-size: 1.5rem;
	margin: 4rem 0 1rem 0;
}

main h3{
	font-family: atkinson-bold;
	font-size: 1.2rem;
	margin-top: 2rem;
}

main p a{
	color: var(--color_principal);
	text-decoration: underline;
}

main a:hover{
	text-decoration: underline;
}

/* Título de sección */
/* El primer título no tiene el margen extra */
main > section h2:first-child{
	margin-top: unset;
}
/* Listas *********************************************/
main ul{
	list-style-position: inside;
	margin-top: 1rem;
}

main ul li{
	line-height: 2rem;
	list-style-type: circle;
}

/*
main ul li::before{
	content: "-";
	margin-right: 1rem;
	color: #aaaaaa;
}*/

main ol{	/* M */
	list-style-position: inside;
	list-style-type: decimal;
}

main ol li{
	margin: 1rem;
	line-height: 1.5rem;
}

p{
	margin-top: 1rem;
}

pre{
	tab-size:2;
	border: 1px solid #aaaaaa;
	margin: 0;
	padding: 0;
}

code{
  	font-family: monospace;
	line-height: 1rem;
	font-size: 0.9rem;
	overflow: auto;
}

strong{
	font-family: atkinson-bold;
}

em {
	text-decoration: underline;
}

.blue {
	color: var(--color_principal);
}

footer{
	color: var(--color_gris_medio);
	margin-top: 2rem;
	width: 100%;
	margin: auto;
}
footer p{
}

footer hr{
	color: var(--color_gris_medio);
}

/* Section *********************************************/
section{
	margin-top: 2rem;
	counter-increment: section;
}

section h2:before{
	content: counter(section) ".- ";
}

section ol{
	list-style-type: none;
}

section ol.problemas{
	counter-reset: problema;
}

section ol.problemas li{
	margin-bottom: 2rem;
}

section ol.problemas li:before{
	counter-increment: problema;
	content: "Problema " counter(section) "." counter(problema) " ";
	font-family: atkinson-bold;
}

section img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

