/*.color-primary-0 { color: #006aff }	Color principal */
/*.color-primary-0b{ color: #003B8C }	Color azul oscuro */
/*.color-primary-1 { color: #FF9200 }	    Color Opuesto */
@charset "utf-8";

@font-face {
    font-family: "atkinson";
    src: url("fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format('woff');
}

@font-face {
    font-family: "hack-regular";
    src: url("fonts/hack-regular.woff2") format('woff');
}

@font-face {
    font-family: "hack-bold";
    src: url("fonts/hack-bold.woff2") format('woff');
}


html{
	/*font-family: "atkinson", sans-serif;*/
	font-family: "hack-regular", monospace;
	scroll-behavior: smooth;
	height: 100%;
	font-size: 0.9rem;
}

body{
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	height: 100%;
	padding-left: 0.5rem;
}

header a{
	font-size: 2rem;
	padding: 1rem 0 2rem 0;
}


main{	/* M */
}


h1 {	/* M */
	margin: 2rem 0 1rem 0;
	font-size: 1.4rem;
	color: #006aff;
	font-weight: bold;
}

p {	/* M */
	margin: 0 0 1rem 0;
	line-height: 1.5rem;
}


a {
	color: black;
	text-decoration: none;
	display: inline-block;
	height: 2rem;
}

a:after{
	/*content: " \1F5B9";
	color: #006aff;*/
}
a:hover{
	text-decoration: underline;
}

ul {
	list-style-position: inside;
	margin-top: 1rem;
}

ul li:before{
	content: "-";
	margin-right: 1rem;
	color: #aaaaaa;
}

ol {	/* M */
	list-style-position: inside;
	list-style-type: decimal;
}

pre{
	tab-size:2;
	-moz-tab-size: 4;
}

code{
  	font-family: monospace;
  	margin: 1em 0;
	white-space: pre-wrap;
	line-height: 1rem;
}

strong{
	font-weight: bold;
}

em {
	font-style: italic;
}

.blue {
	color: #006aff;
}

footer{
	border-top: 1px solid #aaaaaa;
	padding: 0.2rem 0;
	margin-top: 4rem;
	color: #aaaaaa;
}

footer p{
	line-height: 1rem;
	margin: 0;
}


/**************************** Desktop *****************************/
@media only screen and (min-width: 800px) {

html{	/* D */
	font-size: 1rem;
}

body{	/* D */
	padding-left: 0;
}



} /* @media */
